* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	font-family: sans-serif;
}

main {
	padding-top: 20px;
}

h1 {
	display: none;
	margin: 20px 0;
	text-align: center;
}

#notation_Area {
	background: #ddd;
	padding: 20px;
	margin: 0 auto;
	max-width: 1000px;
	overflow: auto;
}
#symbols_and_buttons {
	position: relative;
	float: left;
	width: 465px;
	text-align: center;
}
#symbols_and_buttons h2, #score_Area h2 {
	position: relative;
	margin: 0;
	padding-bottom: 25px;
	height: 25px;
	width: 100%;
	font-size: 1.5em;
	font-weight: normal;
	color: #555;
}
.symbol {
	float: left;
	background: #fff;
	margin: 0 5px 5px 0;
	width: 150px;
	height: 180px;
	box-shadow: 2px 2px 2px #999;
	-moz-box-shadow: 2px 2px 2px #999;
	-webkit-box-shadow: 2px 2px 2px #999;
	cursor: pointer;
}
.symbol img {
	display: block;
	margin: 0 auto;
}
.symbol .symbol_Name {
	background: #777;
	color: #fff;
	font-size: 1.1em;
	font-weight: lighter;
	line-height: 30px;
}
.symbol:hover .symbol_Name {
	background: #4156b1;
}
.options {
	background: #f58f3b;
	display: none;
	position: relative;
	margin-top: -150px;
	width: 150px;
	height: 150px;
}
.options p {
	line-height: 29px;
	border-bottom: solid 1px #fff;
}
.options p:hover {
	background: #4156b1;
}
#btns_Options {
	float: left;
	margin-top: 46px;
	width: inherit;
	height: 40px;
}
#cover {
	display: none;
	position: relative;
	background: #ddd;
	width: 150px;
	height: 40px;
	opacity: 0.5;
	z-index: 2;
}
input[type=checkbox] {
	visibility: hidden;
}
#advanced_Checkbox {
	position: relative;
	float: left;
	background: #4156b1;
	width: 150px;
	height: 40px;
	border-radius: 20px;
}
#advanced_Checkbox:before {
	content: 'Advanced';
	position: absolute;
	top: 12px;
	left: 12px;
	color: #fff;
	font-size: 0.8em;
}
#advanced_Checkbox:after {
	content: 'Basic';
	position: absolute;
	top: 12px;
	left: 90px;
	color: #fff;
	font-size: 0.8em;
}
#advanced_Checkbox label {
	display: block;
	width: 65px;
	height: 30px;
	border-radius: 20px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	z-index: 1;
	left: 5px;
	background: #ddd;
}
#advanced_Checkbox input[type=checkbox]:checked + label {
	left: 80px;
	background: #f58f3b;
}
.app_Btn {
	float: right;
	margin-right: 5px;
	width: 150px;
	color: #fff;
	font-size: 1.2em;
	line-height: 40px;
	cursor: pointer;
}
.start_Btn {
	background: #eee;
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 50px;
	width: 460px;
	height: 642px;
	color: #000;
	font-size: 4em;
	opacity: 0.85;
	border: solid 1px #999;
	box-shadow: 2px 2px 2px #999;
	cursor: pointer;
}
#finish_Btn {
	background: #f58f3b;
}
#print_Btn {
	background: #4156b1;
}
#score_Area {
	float: right;
	text-align: center;
}
#the_Score {
	background: #eee;
	position: relative;
	width: 480px;
	height: 640px;
	border: solid 1px #999;
}
#start_Object, #finish_Object, .continue_Object {
	background: #fff;
	position: absolute;
}
.symbol_Text {
	background: #fff;
	position: absolute;
	width: 120px;
	text-align: center;
	line-height: 20px;
}
.symbol_Object {
	position: absolute;
}
aside {
	border: none;
}
/*Printed score styling*/
#printed_Score_Container {
	height: 0px;
	overflow: hidden;
}
#printed_Score {
	visibility: hidden;
	width: 1334px;
	height: 1000px;
}
.printEnd_Object, .printContinue_Object {
	float: left;
	width: 42px:;
	height: 250px;
}
.printIm_Object {
	float: left;
	width: 250px;
	height: 250px;
}
