@media print {
	body * {		
		visibility: hidden;
	}
	#printed_Score, #printed_Score * {
		visibility: visible;
	}
	#printed_Score {
		position: absolute;
		top: 0;
		left: 0;
		margin: 8cm 0 0 -3.5cm;
		-webkit-transform: rotate(-90deg); 
	    -moz-transform:rotate(-90deg);
	    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}
}
