.hg-font {
  font-family: 'HutchinsonGuest';
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.App {
  padding: 0 10px;
}

header {
  text-align: center;
}

h1 {
  font-size: 1.5rem;
}

main {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

h2 {
  margin-top: 0;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

figure, p {
  margin: 0;
}

.flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display:-webkit-flex;
  display: flex;
}

.flex-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align:center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

.column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.btn {
  border: 0;
  border-radius: 3px;
  font-size: 1rem;
  font-weight: bold;
  height: 38px;
}

.primary-btn {
  background: #1c94c9;
  color: white;
}

.symbol-choice-container {
  box-shadow: 0 0 7px #777;
}

.buttons {
  border-top: solid 1px #bbb;
}

.buttons button {
  width: calc(50% - 10px);
}

.save-pdf:disabled {
  background: #7aa5b8;
}

.clear-btn {
  background: #f49b1a;
  color: black;
  margin-left: auto;
}

.clear-btn:disabled {
  background: #d2af79;
  color: #777;
}

.btn-char-symbol {
  background: white;
  text-align: center;
}

.btn-char-symbol p {
  font-size: 2rem;
}

.btn-name {
  border-top: solid 1px #ddd;
  font-size: 0.75rem;
  -webkit-transition: width 0.25s, font-size 0.25s linear;
  transition: width 0.25s, font-size 0.25s linear;
}

.score {
  background: #efefef;
  border: solid 1px black;
  position: relative;
  width: calc(100% - 30px);
}

.pdf-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.start-symbol,
.end-symbol {
  height: 3.12%;
  position: absolute;
  width: 25%;
}

.start-symbol::before,
.end-symbol::before,
.start-symbol::after,
.end-symbol::after {
  background: black;
  content: '';
  display: block;
  height: 1px;
  left: 10%;
  position: absolute;
  width: 80%;
}

.start-symbol::before,
.end-symbol::before {
  top: 30%;
}

.start-symbol::after,
.end-symbol::after {
  bottom: 30%;
}

.score-symbol {
  cursor: pointer;
  height: 11.72%;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 25%;
}

.score-symbol p {
  font-size: 3rem;
  line-height: 58px;
}

.continue-symbol {
  height: 3.12%;
  width: 25%;
}

.continue-symbol::after {
  background: black;
  content: '';
  display: block;
  height: 1px;
  width: 80%;
}

.start-symbol,
.end-symbol,
.continue-symbol,
.score-symbol {
  background: white;
  position: absolute;
}
.start-symbol,
.continue-btm {
  bottom: 0;
}
.start-symbol,
.continue-8,
.pos-0,
.pos-1,
.pos-2,
.pos-3,
.pos-4,
.pos-5,
.pos-6,
.pos-7,
.end-symbol.pos-8 {
  left: 0;
}
.pos-8,
.pos-9,
.pos-10,
.pos-11,
.pos-12,
.pos-13,
.pos-14,
.pos-15,
.continue-9,
.continue-16,
.end-symbol.pos-16 {
  left: 25%;
}
.pos-16,
.pos-17,
.pos-18,
.pos-19,
.pos-20,
.pos-21,
.pos-22,
.pos-23,
.continue-17,
.continue-24,
.end-symbol.pos-24 {
  left: 50%;
}
.pos-24,
.pos-25,
.pos-26,
.pos-27,
.pos-28,
.pos-29,
.pos-30,
.pos-31,
.continue-25,
.end-symbol.pos-32 {
  left: 75%;
}
.pos-0,
.pos-8,
.pos-16,
.pos-24 {
  bottom: 3.12%;
}
.pos-1,
.pos-9,
.pos-17,
.pos-25 {
  bottom: 14.84%;
}
.pos-2,
.pos-10,
.pos-18,
.pos-26 {
  bottom: 26.56%;
}
.pos-3,
.pos-11,
.pos-19,
.pos-27 {
  bottom: 38.28%;
}
.pos-4,
.pos-12,
.pos-20,
.pos-28 {
  bottom: 50%;
}
.pos-5,
.pos-13,
.pos-21,
.pos-29 {
  bottom: 61.72%;
}
.pos-6,
.pos-14,
.pos-22,
.pos-30 {
  bottom: 73.44%;
}
.pos-7,
.pos-15,
.pos-23,
.pos-31 {
  bottom: 85.16%;
}
.continue-top,
.end-symbol.pos-8,
.end-symbol.pos-16,
.end-symbol.pos-24,
.end-symbol.pos-32 {
  bottom: 96.88%;
}

.swap-symbol,
.remove-symbol {
  background: #f7f7f7 center no-repeat;
  cursor: pointer;
  display: block;
  height: 26px;
  position: absolute;
  top: 0;
  width: 21px;
}

.swap-symbol:hover,
.remove-symbol:hover {
  background-color: #1c94c9;
}

.swap-symbol {
  background-image: url('./images/swap-icon.svg');
  left: 1px;
}

.swap-symbol:hover {
  background-image: url('./images/swap-icon-hover.svg');
}

.remove-symbol {
  background-image: url('./images/remove-icon.svg');
  right: 1px;
}

.remove-symbol:hover {
  background-image: url('./images/remove-icon-hover.svg');
}

.message {
  animation: fadeIn 0.5s forwards;
  background: #1c94c9;
  border-radius: 10px;
  box-shadow: 0 5px 10px #777;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  left: 50%;
  opacity: 0;
  padding: 10px 16px 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.message p {
  padding-right: 10px;
  white-space: nowrap;
}

.message span {
  border-left: solid 1px white;
  cursor: pointer;
  padding-left: 10px;
}

.name-pdf-form {
  background: white;
  border: solid 1px #bbb;
  box-shadow: 0 5px 10px #777;
  border-radius: 3px;
  left: 50%;
  padding: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 95%;
}

.name-pdf-form label {
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.name-pdf-form input,
.name-pdf-btn {
  width: 100%;
}

.name-pdf-form input {
  background: #f7f7f7;
  border: solid 1px black;
  border-radius: 3px;
  font-size: 1rem;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.name-pdf-form input:focus {
  border-color: #f7f7f7;
  outline: solid 2px #f49b1a;
}

.name-pdf-btn {
  font-size: 1.125rem;
  height: 40px;
}
.close-form {
  background-color: white;
  padding: 20px;
  right: 0;
}
@media (min-width: 374px) {
  .score-symbol p {
    font-size: 3.5rem;
    line-height: 68px;
  }
}
@media (min-width: 768px) {
  .App {
    padding: 0 24px;
  }
  h1 {
    font-size: 2rem;
  }
  .symbol-name-toggle {
    display: none;
  }
   .symbol-choice-container {
    border: solid 1px #aaa;
    box-shadow: 2px 3px 7px #ccc;
  }
  .btn-char-symbol p {
    font-size: 2.5rem;
  }
  .btn-name {
    padding-left: 20px;
  }
  .buttons {
    margin-top: 10px;
    padding-top: 10px;
  }
  .score {
    height: 642px;
    margin-left: auto;
    width: 482px;
  }
  .start-symbol,
  .end-symbol {
    height: 20px;
    width: 120px;
  }
  .start-symbol::before,
  .end-symbol::before,
  .start-symbol::after,
  .end-symbol::after {
    height: 2px;
    left: 10px;
    width: 100px;
  }
  .start-symbol::before,
  .end-symbol::before {
    top: 6px;
  }
  .start-symbol::after,
  .end-symbol::after {
    bottom: 5px;
  }
  .score-symbol {
    height: 75px;
    width: 120px;
  }
  .score-symbol p {
    font-size: 5rem;
    line-height: 92px;
  }
  .continue-symbol {
    height: 20px;
    width: 120px;
  }
  .continue-symbol::after {
    height: 2px;
    width: 100px;
  }
  .pos-8,
  .pos-9,
  .pos-10,
  .pos-11,
  .pos-12,
  .pos-13,
  .pos-14,
  .pos-15,
  .continue-9,
  .continue-16 {
    left: 120px;
  }
  .pos-16,
  .pos-17,
  .pos-18,
  .pos-19,
  .pos-20,
  .pos-21,
  .pos-22,
  .pos-23,
  .continue-17,
  .continue-24 {
    left: 240px;
  }
  .pos-24,
  .pos-25,
  .pos-26,
  .pos-27,
  .pos-28,
  .pos-29,
  .pos-30,
  .pos-31,
  .continue-25 {
    left: 360px;
  }
  .pos-0,
  .pos-8,
  .pos-16,
  .pos-24 {
    bottom: 20px;
  }
  .pos-1,
  .pos-9,
  .pos-17,
  .pos-25 {
    bottom: 95px;
  }
  .pos-2,
  .pos-10,
  .pos-18,
  .pos-26 {
    bottom: 170px;
  }
  .pos-3,
  .pos-11,
  .pos-19,
  .pos-27 {
    bottom: 245px;
  }
  .pos-4,
  .pos-12,
  .pos-20,
  .pos-28 {
    bottom: 320px;
  }
  .pos-5,
  .pos-13,
  .pos-21,
  .pos-29 {
    bottom: 395px;
  }
  .pos-6,
  .pos-14,
  .pos-22,
  .pos-30 {
    bottom: 470px;
  }
  .pos-7,
  .pos-15,
  .pos-23,
  .pos-31 {
    bottom: 545px;
  }
  .continue-top,
  .end-symbol.pos-8,
  .end-symbol.pos-16,
  .end-symbol.pos-24,
  .end-symbol.pos-32 {
    bottom: 620px;
  }
  .name-pdf-form {
    width: 80%;
  }
}
@media (min-width: 860px) {
  .symbol-choice-container {
    box-shadow: none;
    border: 0;
    width: 297px;
  }
  .symbol-btn {
    border: solid 1px black;
    cursor: pointer;
    display: inline-block;
    margin: 0.5px;
    text-align: center;
    width: 98px;
  }
  .btn-char-symbol {
    height: 80px;
  }
  .btn-char-symbol p {
    font-size: 4rem;
    line-height: 92px;
  }
  .btn-name {
    background: #efefef;
    border-top: solid 1px #ddd;
    font-size: 0.875rem;
    padding: 5px 0;
  }

  @supports (display: grid) {
    .symbol-choice-container {
      display: grid;
      grid-gap: 1px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template: repeat(3, 1fr) / repeat(3, 1fr);
      width: 296px;
    }
    .symbol-btn {
      margin: 0;
      width: 100%;
    }
  }
}
@media (min-width: 500px) and (max-width: 767px) {
  .score-symbol p {
    font-size: 14vw;
    line-height: 16.5vw;
  }
}
@media (min-width: 768px) and (max-width: 859px) {
  .btn-name {
    font-size: 1rem;
  }
  .buttons {
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 20px 0 0;
  }
  .buttons button {
    width: 100%;
  }
  .clear-btn {
    margin-top: 20px;
  }
}
@media (max-width: 859px) {
  .flex-mob {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:-webkit-flex;
    display: flex;
  }
  .score {
    aspect-ratio: 3 / 4;
  }
  .symbol-name-toggle {
    background: #777;
    border: 0;
    border-radius: 0;
    color: white;
    font-size: 1.75rem;
    height: 40px;
    line-height: 1;
    padding: 0 12px 0 0;
    text-align: right;
    width: 100%;
  }
  .chevron {
    height: 18px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    transform-origin: center;
    -webkit-transition: -webkit-transform 0.25s linear;
    transition: transform 0.25s linear;
    width: auto;
  }
  .symbol-choice-container {
    background: #ddd;
    width: 200px;
  }
  .symbol-btn {
    height: 50px;
    line-height: 3.125rem;
  }
  .symbol-btn + .symbol-btn {
    border-top: solid 1px #777;
  }
  .btn-char-symbol {
    width: 50px;
  }
  .btn-char-symbol p {
    display: inline-block;
    padding-top: 4px;
    width: 38px;
  }
  .btn-name {
    width: calc(100% - 40px);
  }
  .buttons {
    width: 100%;
  }

  @supports not (aspect-ratio: 3 / 4) {
    .score::before {
      float: left;
      padding-top: 133.33%;
      content: "";
    }

    .score::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}
@media (max-width: 767px) {
  main {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    -webkit-box-pack: flex-end;
    justify-content: flex-end;
    padding-bottom: 60px;
  }
  .symbol-choice-container {
    position: absolute;
    z-index: 1;
  }
  .symbol-choice-container {
    background: rgba(225,225,225,0.9);
    left: -10px;
    overflow: hidden;
    top: calc(50% - 30px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: width 0.25s linear;
    transition: width 0.25s linear;
    width: 38px;
  }
  .symbol-btn {
    height: 40px;
    line-height: 2.5rem;
  }
  .btn-char-symbol {
    max-width: 40px;
  }
  .btn-char-symbol p {
    padding-top: 3px;
  }
  .btn-name {
    font-size: 0;
    padding-left: 5px;
  }
  .open {
    width: 112px;
  }
  .open .btn-name {
    font-size: 0.75rem;
    -webkit-transition: width 0.25s, font-size 0.25s linear;
    transition: width 0.25s, font-size 0.25s linear;
  }
  .open .chevron {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .buttons {
    background: rgba(220,220,220,0.8);
    bottom: 0;
    left: 0;
    padding: 5px;
    position: fixed;
    z-index: 2;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}