.hg-font {
  font-family: 'HutchinsonGuest';
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

header {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 790px;
}

h2 {
  margin-top: 0;
}

button {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display:-webkit-flex;
  display: flex;
}

.flex-center {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align:center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

.symbol-choice-container {
  width: 297px;
}

.symbol-btn {
  border: solid 1px black;
  cursor: pointer;
  display: inline-block;
  margin: 0.5px;
  text-align: center;
  width: 96px;
}

.buttons {
  justify-content: space-between;
  margin-top: 20px;
}

.buttons button {
  width: calc(33.3333% - 1px);
}

.btn-char-symbol {
  background: white;
  height: 80px;
}

.btn-char-symbol p {
  font-size: 4rem;
  line-height: 92px;
}

.btn-name {
  background: #efefef;
  border-top: solid 1px #ddd;
  font-size: 0.875rem;
  padding: 5px 0;
}

.symbol-btn:hover .btn-name {
  background: #777;
  color: white;
}

.score {
  background: #efefef;
  border: solid 1px black;
  height: 642px;
  margin-left: auto;
  width: 482px;
}

.pdf-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.score > img {
  display: block;
  position: absolute;
}

.start-symbol,
.end-symbol {
  height: 20px;
  position: absolute;
  width: 120px;
}

.start-symbol::before,
.end-symbol::before,
.start-symbol::after,
.end-symbol::after {
  background: black;
  content: '';
  display: block;
  height: 2px;
  left: 10px;
  position: absolute;
  width: 100px;
}

.start-symbol::before,
.end-symbol::before {
  top: 6px;
}

.start-symbol::after,
.end-symbol::after {
  bottom: 5px;
}

.score-symbol {
  height: 120px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 120px;
}

.score-symbol p {
  font-size: 6rem;
  line-height: 140px;
}

.continue-symbol {
  align-items: center;
  height: 20px;
  justify-content: center;
  width: 120px;
}

.continue-symbol::after {
  background: black;
  content: '';
  display: block;
  height: 2px;
  width: 100px;
}

.start-symbol,
.end-symbol,
.continue-symbol,
.score-symbol {
  background: white;
  position: absolute;
}
.start-symbol,
.continue-btm {
  bottom: 0;
}
.end-symbol,
.continue-top {
  bottom: 620px;
}
.start-symbol,
.continue-5 {
  left: 0;
}
.continue-6,
.continue-10 {
  left: 120px;
}
.continue-11,
.continue-15 {
  left: 240px;
}
.end-symbol,
.continue-16 {
  left: 360px;
}

.pos-0,
.pos-1,
.pos-2,
.pos-3,
.pos-4 {
  left: 0;
}
.pos-5,
.pos-6,
.pos-7,
.pos-8,
.pos-9 {
  left: 120px;
}
.pos-10,
.pos-11,
.pos-12,
.pos-13,
.pos-14 {
  left: 240px;
}
.pos-15,
.pos-16,
.pos-17,
.pos-18,
.pos-19 {
  left: 360px;
}

.pos-0,
.pos-5,
.pos-10,
.pos-15 {
  bottom: 20px;
}
.pos-1,
.pos-6,
.pos-11,
.pos-16 {
  bottom: 140px;
}
.pos-2,
.pos-7,
.pos-12,
.pos-17 {
  bottom: 260px;
}
.pos-3,
.pos-8,
.pos-13,
.pos-18 {
  bottom: 380px;
}
.pos-4,
.pos-9,
.pos-14,
.pos-19 {
  bottom: 500px;
}

.swap-symbol,
.remove-symbol {
  background: #f7f7f7;
  color: #10dc;
  cursor: pointer;
  display: none;
  height: 26px;
  padding: 3px 5px;
  position: absolute;
  top: 0;
}

.swap-symbol:hover,
.remove-symbol:hover {
  background: #10dc;
  color: #f7f7f7;
}

.swap-symbol {
  font-size: 14px;
  left: 1px;
  line-height: 10px;
}

.remove-symbol {
  line-height: 20px;
  right: 1px;
}

.score-symbol:hover .swap-symbol {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display:-webkit-flex;
  display: flex;
}

.score-symbol:hover .remove-symbol {
  display: block;
}

.message {
  animation: fadeIn 0.5s forwards;
  background: #10dc;
  border-radius: 10px;
  box-shadow: 0 5px 10px #777;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  opacity: 0;
  padding: 10px 16px 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.message p {
  padding-right: 10px;
  white-space: nowrap;
}

.message span {
  border-left: solid 1px white;
  cursor: pointer;
  padding-left: 10px;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@supports (display: grid) {
  .symbol-choice-container {
    display: grid;
    grid-gap: 1px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 296px;
  }

  .symbol-btn {
    margin: 0;
  }
}